# Лабораторная работа 6. Основы анализа данных Pandas.

Создайте таблицу

In [2]:
tab = [[3, 1, 2], [4, 5, 6]]

Выведите первую строку:

In [5]:
print(tab[0])

[3, 1, 2]

Подключим библиотеку Pandas

In [4]:
import pandas as pd

Давайте сделаем dataframe из нашей таблицы.

In [3]:
df = pd.DataFrame(table)

NameError: name 'table' is not defined

In [ ]:
df

Выведите первый столбец с заголовками.

Выведите первую строку с заголовками.

Выведите вторую строку.

Загрузим файл в Pandas. Выведите результат.

In [4]:
df = pd.read_csv(
    "lab6_1.csv"
)
df

     task   group10  group2  group3  group4
0  python       1.0     2.0     3.0     2.0
1     c++       2.3     1.2     2.2     1.2
2      c#       2.1     2.3     2.3     2.2
3    java       4.0     2.5     2.5     1.2
4     php       6.0     5.0     4.0     5.0

Верхняя строчка выделена полужирным т.к. рассматривается не как строчка с данными, а как строчка с именами столбцов. К столбцам можно обращаться по имени. Обратитесь к столбцу "group10"

In [5]:
de = df[' group10']
de

0    1.0
1    2.3
2    2.1
3    4.0
4    6.0
Name:  group10, dtype: float64

У строк по умолчанию нет имён, и им присваивются номера (левая полужирная колонка). Можно загрузить файл таким образом, чтобы первый столбец рассматривался как столбец с именами строк.

In [6]:
df = pd.read_csv(
    "lab6_1.csv",
    index_col=0
)

In [7]:
df

         group10  group2  group3  group4
task
python       1.0     2.0     3.0     2.0
c++          2.3     1.2     2.2     1.2
c#           2.1     2.3     2.3     2.2
java         4.0     2.5     2.5     1.2
php          6.0     5.0     4.0     5.0

Обратитесь к строке "python".

Убрать "task" можно следующим образом.

In [8]:
df.index.name = None

Обратитесь к конткретному элементу таблицы.

Переименуйте столбец group10 в group1

Сделайте срез из 3й и 4й строки.

Сделайте срез из 2ого и 3его столбов.

Получите все строки, соответствующие отметкам по которым group1 получила оценку выше тройки

Посчитать среднюю отметку для каждого предмета.

Посчитать среднюю отметку для каждого языка (используйте транспонирование ".T").

Тоже самое, только используйте направление (axis).

Найдите min для языков.

Найдите max для языков.

Тоже самое с группами.

# Часть 2. Более сложный датафрейм

Далее будем использовать открытые данные Москвы.

In [54]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';'
)

Таблица большая, выаедем несколько строк df.head()

In [55]:
df.head()

,﻿ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
0,1,город Москва (за исключением Троицкого и Новом...,Горячее водоснабжение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,"ОАО «МОЭК» и иные, кроме ОАО «Мосэнерго» и ОАО...",105.45,19693618,NaN
1,2,город Москва (за исключением Троицкого и Новом...,Водоотведение,руб/куб.м,01.01.2012,30.06.2012,да,NaN,NaN,NaN,МГУП «Мосводоканал»,16.65,19693667,NaN
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
3,4,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.07.2012,31.07.2012,да,газовая,с 07:00 по 23:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,4.03,19693607,NaN
4,5,город Москва (за исключением Троицкого и Новом...,Электроэнергия,руб/кВт.ч,01.01.2012,30.06.2012,да,газовая,с 23:00 по 07:00 ч (двухтарифный учет),на бытовые нужды,ОАО «Мосэнергосбыт»,0.95,19693669,NaN

Выведите столбец ROWNUM

Не все так просто. Ответ - нет такого столбца. Но он же есть!

Воспользуйтесь командой list для вывода столбцов.

Перед ROWNUM есть невидимый символ, кодирующийся как \ufeff. Чтобы его не считать, нужно использовать encoding='utf-8-sig'

In [56]:
df = pd.read_csv(
    "lab6_2.csv",
    sep=';',
    encoding = 'utf-8-sig'
)

Покажите, что ошибка исправлена (df['ROWNUM'])

Данных столбец нам в этом виде не понадобится. Сделаейте его индексом строк.

Продемонстрируйте.

 В таблице собраны разные данные: тарифы на электроэнергию, газ т.д. Запишите в q_gas данные за газ.

In [57]:
q_gas = df[df['TariffItem'] == 'Газ']
q_gas.head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,7,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,8,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Теперь, используя groupby, запишите в groups различные тарифы. Теперь выведите тарифы за Водоотведение.

In [58]:
groups = df.groupby('TariffItem')
groups.get_group('Газ').head()

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
6,7,город Москва,Газ,руб/куб.м,11.01.2011,15.01.2012,да,NaN,NaN,на приготовление пищи и горячее водоснабжение ...,ООО «Мосрегионгаз»,4.09,19693595,NaN
7,8,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.09,19693684,NaN
10,11,город Москва (за исключением Троицкого и Новом...,Газ,руб/куб.м,01.07.2012,31.12.2012,да/нет,NaN,NaN,на нагрев воды с использованием газового водон...,ООО «Газпром межрегионгаз Москва»,4.70,19693624,NaN
11,12,город Москва (за исключением Троицкого и Новом...,Газ,руб/1000 куб.м,15.01.2012,30.06.2012,да/нет,NaN,NaN,на отопление с одновременным использованием га...,ООО «Газпром межрегионгаз Москва»,2930.00,19693625,NaN

Выведите список групп.

In [59]:
groups.groups.keys()

dict_keys(['Твердое топливо', 'Горячее водоснабжение', 'Электроэнергия', 'Холодное водоснабжение', 'Газ', 'Водоотведение', 'Отопление'])

Посчитайте средние тарифы.

In [60]:
df.groupby('TariffItem').mean()

                           ROWNUM  TariffValue     global_id  Unnamed: 13
TariffItem
Водоотведение           24.000000    17.950000  1.969357e+07          NaN
Газ                     32.050000   651.415000  1.969359e+07          NaN
Горячее водоснабжение   26.833333   100.095000  1.969352e+07          NaN
Отопление               42.666667  1208.423333  1.969363e+07          NaN
Твердое топливо         53.000000  1126.000000  1.969363e+07          NaN
Холодное водоснабжение  59.666667    25.223333  1.969364e+07          NaN
Электроэнергия          37.312500     2.571250  1.969359e+07          NaN

Далее приведем в порядок тарифы за газ. Вычислите кол-во различных UnitOfMeasure (единица измерения).

In [61]:
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         8
руб/чел           6
руб/1000 куб.м    4
руб/кв.м          2
Name: UnitOfMeasure, dtype: int64

Замените руб/кв.м на руб/куб.м (это ошибка).

In [63]:
qkvm = q_gas['UnitOfMeasure'] == 'руб/кв.м'
q_gas[qkvm]

,ROWNUM,Region,TariffItem,UnitOfMeasure,StartDate,EndDate,MeasureDeviceAvail,StoveType,ConsumptionTime,ConsumptionTarget,Agency,TariffValue,global_id,Unnamed: 13
2,3,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.07.2012,31.08.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,25.61,19693682,NaN
51,52,город Москва (за исключением Троицкого и Новом...,Газ,руб/кв.м,01.01.2012,30.06.2012,нет,NaN,NaN,дома с отоплением от газовых нагревателей,ООО «Газпром межрегионгаз Москва»,22.27,19693622,NaN

In [66]:
q_gas = q_gas.copy()
q_gas.loc[qkvm, 'UnitOfMeasure'] = "руб/куб.м"
q_gas['UnitOfMeasure'].value_counts()

руб/куб.м         10
руб/чел            6
руб/1000 куб.м     4
Name: UnitOfMeasure, dtype: int64

Все значения в строках где руб/1000 куб.м умножьте на 1000.

Измените единицу измерения на руб/куб.м.

Повторно пересчитайте тарифы. Строк с "руб/куб.м" должно быть 12.

Для всех таких строк вызовите метод describe().

# Часть 3. Более сложные запросы

Из исходной таблицы сделайте выборку тех строк, в которых в качестве единицы измерения указаны руб/кв.м и указан тариф на газ.

Сделайте такой же запрос через query.

Далее использовать будем открытые данные Москвы за 2016 год. Используйте для этого файл tariff.json. Преобразуйте в необходимый формат.

Вычислите средний тарифф.

Придумайте себе два запроса и реализуйте их ниже.